




.input_container input {
   border: 1px solid #c0c0c0;
    float: left;
    height: 46px;
    margin: 1%;
    width: 44%;
	z-index:1000;
}
.input_container ul {
	width: 206px;
	float:left;
	border: 1px solid #eaeaea;
	position: absolute;
	z-index: 9;
	background: #f3f3f3;
	list-style: none;
margin-top:55px;
}
.input_container ul li {
	padding: 2px;
}
.input_container ul li:hover {
	background: #eaeaea;
}
#country_list_id {
	display: none;
}


